.slider {
  width: 35% !important;
  margin: 0 10px;
  direction: ltr;
}

.label-range {
  width: 20%;
  margin: 8px 0;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 8px 0;
}
.range-slider {
  width: 100% !important;
}
