$input-color: #00e0ff;
$button-color: #0004ff;
$button-color-disabled: gray;
$button-color-text: #fff;
$card-background: rgb(24, 20, 20);
$red-text: rgb(211, 36, 36);
$linear-background: linear-gradient(
  to right bottom,
  rgb(3, 1, 1),
  rgb(48, 48, 51)
);
